# Streamlit Cloud (CPU-only environment) PyTorch installation
--extra-index-url https://download.pytorch.org/whl/cpu

# Core libraries
streamlit
pandas
numpy
Pillow
torch
gdown
streamlit-aggrid